
/.idea
/Gravelmon2.0Java/.gradle
/Gravelmon2.0Java/common/build
/Gravelmon2.0Java/forge/build
/Gravelmon2.0Java/fabric/run
/Gravelmon2.0Java/fabric/build
/Gravelmon2.0Java/common/src/main/resources/data/cobblemon/spawn_pool_world
/Gravelmon2.0Java/common/src/main/resources/data/cobblemon/spawn_pool_world
/Gravelmon2.0Java/common/src/main/resources/data/cobblemon/spawn_pool_world
/Gravelmon2.0Java/.idea
/Gravelmon2.0Java/common/.gradle
